.light, .Card {
    --color-background: white;
    --color-header: #3F51A2;
    --color-text: #080F0F;
}

.dark {
    --color-background: #3F51A2;
    --color-header: #FFFFFF;
    --color-text: #EFF7FF;
}

.dark .Button {
    --color-background: #F7C978;
    --color-header: #080F0F;
    --color-text: #080F0F;
}

#header {
    --color-background: #14B891;
    --color-header: #080F0F;
    --color-text: #080F0F;
}
