.light, .Card {
    --color-background: white;
    --color-header: #4558B0;
    --color-text: #070707;
}

.dark {
    --color-background: #1E1F20;
    --color-header: #E0E0E0;
    --color-text: #E0E0E0;
}

.dark .Button {
    --color-background: #FFF37F;
    --color-header: #070707;
    --color-text: #070707;
}

#header {
    --color-background: #4558B0;
    --color-header: #E0E0E0;
    --color-text: #E0E0E0;
}
