* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--color-secondary);
}

html {
    --color-background: white;
    --color-on-background: #070707;

    --color-primary: #03C959;
    --color-on-primary: #070707;

    --color-secondary: #3F51A2;
    --color-on-secondary: #FFF9FB;

    --font-regular: 'Open Sans', sans-serif;
    --font-header: 'Raleway', sans-serif;
    --font-interact: 'Montserrat', sans-serif;

    --side-padding: max(1rem, calc((100vw - 42rem) / 2));
}

html {
    min-width: 320px;
    height: 100%;
    scrollbar-width: thin;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-background);
    font-family: var(--font-regular);
}

main {
    display: flex;
    flex-direction: column;
}

main > section {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}



#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    align-items: center;
    width: 100%;
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    white-space: nowrap;
    box-shadow: 0 0 4px var(--color-on-background);
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-family: var(--font-interact);
}

#header > .logo {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: var(--color-on-primary);
    user-select: none;

}

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;
}

#navigation > a {
    display: flex;
    align-items: center;
    padding: 16px 1rem 8px;
    transition: background-color 0.1s;
}

#navigation > a:hover,
#navigation > a:focus {
    background-color: #00000011;
    outline: none;
}

#navigation > a.active {
    text-shadow: 0 0 1px var(--color-on-primary);
}



#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    padding-top: 3rem;
    color: #999;
    font-size: 0.8em;
}



.g-button {
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 0.25em;
    padding: 0.7em 0.8em;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-family: var(--font-interact);
    box-shadow: 1px 1px 2px var(--color-on-primary);
}

.g-button:hover,
.g-button:focus {
    outline: none;
    box-shadow: 1px 1px 8px var(--color-on-primary);
    /* transition: box-shadow 2s; */
}

.g-button::before {
    content: '';
    align-self: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.g-button.send::before {
    width: 1em;
    background-image: url('/icon/send.svg');
}

a.github::after {
    content: '';
    background-image: url(/icon/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2em;
    height: 1.2em;
    margin-left: 4px;
}
