@import url(colors.css);
@import url(blocks/header.css);
@import url(blocks/main.css);
@import url(blocks/Button.css);
@import url(blocks/Card.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    text-decoration: inherit;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--color-header);
}

html {
    --font-regular: 'Open Sans', sans-serif;
    --font-header: 'Raleway', sans-serif;
    --font-interact: 'Montserrat', sans-serif;

    --side-padding: max(1rem, calc((100vw - 44rem) / 2));
}

html {
    min-width: 320px;
    height: 100%;
    scrollbar-width: thin;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-background);
    font-family: var(--font-regular);
}

.wave {
    height: 5rem;
    background-color: var(--color-background);
}

.upper.wave {
    clip-path: ellipse(80% 100% at 50% 140%);
}

.lower.wave {
    clip-path: ellipse(80% 100% at 50% -20%);
}
