@import url(blocks/header.css);
@import url(blocks/g-button.css);

* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--color-secondary);
}

html {
    --color-background: white;
    --color-on-background: #070707;

    --color-primary: #03C959;
    --color-on-primary: #070707;

    --color-secondary: #3F51A2;
    --color-on-secondary: #FFF9FB;

    --font-regular: 'Open Sans', sans-serif;
    --font-header: 'Raleway', sans-serif;
    --font-interact: 'Montserrat', sans-serif;

    --side-padding: max(1rem, calc((100vw - 44rem) / 2));
}

html {
    min-width: 320px;
    height: 100%;
    scrollbar-width: thin;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-background);
    font-family: var(--font-regular);
}

main {
    display: flex;
    flex-direction: column;
}

/* Temporary reset */
main * {
    margin: 0;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

main > section > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

main > section > h2 {
    margin-left: 0;
}
