@import url(blocks/intro.css);

#index ul {
    padding-left: 0px;
    list-style: none;
}



section#skills .categories {
    display: grid;
    flex-wrap: wrap;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 520px) {
    section#skills .categories {
        grid-template-columns: 1fr 1fr;
    }
}

section#skills .category {
    box-shadow: 0 0 4px var(--color-on-background);
    border-radius: 8px;
    padding: 0 1rem 1rem 1rem;
}

section#skills .category li {
    list-style: none;
    background-image: url(/icon/arrow_circle_right.svg);
    background-size: 1.1em;
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 1.5em;
    padding-top: -2px;
}



section#education img {
    width: 3rem;
    height: auto;
    float: left;
}

section#education p {
    margin: 4px 0;
    margin-left: 3rem
}
