@import url(blocks/intro.css);
@import url(blocks/card.css);


#projects > ul {
    display: grid;
    gap: 1.5rem;
}

#projects > ul > li > header {
    display: flex;
    justify-content: space-between;
}

#projects > ul > li > header > .links {
    display: flex;
    margin-left: auto;
    gap: 0.5rem;
}

#projects > ul > li > .content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 1rem;
}

#projects > ul > li .screenshots {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 1px var(--color-text);
}

#projects > ul > li .screenshots img {
    width: 100%;
}

@media screen and (min-width: 640px) {
    #projects > ul > li > .content {
        grid-auto-flow: column;
    }
}



#skills .categories {
    display: grid;
    flex-wrap: wrap;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 520px) {
    #skills .categories {
        grid-template-columns: 1fr 1fr;
    }
}

#skills .Card li {
    padding-left: 1.5em;
}

#skills .Card li::before {
    content: '';
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
    height: 1.1em;
    position: relative;
    top: 3px;
    background-color: var(--color-text);
    mask: url(/icon/arrow_circle_right.svg);
    mask-size: 1.1em;
    mask-repeat: no-repeat;
}



#education img {
    width: 3rem;
    height: auto;
    float: left;
}

#education p {
    margin: 4px 0;
    margin-left: 3rem
}
