
<header id="intro" class="dark">
    <h2>Hi!</h2>
    <div class="photo">
        <img src="/img/photo.png" alt="[Photo]" width="64" height="64">
    </div>
    <p class="name">I'm Dmitry</p>
    <p class="title">— Software Developer</p>
    <div class="buttons">
        <a class="Button accent left-icon send" href="/contact-me">Contact me</a>
        <a class="Button accent right-icon github" href="https://github.com/lonelyteapot" target="_blank">Go to GitHub</a>
    </div>
</header>
<div class="dark lower wave"></div>
