<header id="header">
    <div id="intro">
        <h1 class="name">Dmitry Semenov</h1>
        <p class="title">— Software Developer</p>
        <div class="links">
            {% for link in site.data.social.links %}
            <a class="icon {{ link.class }}" href="{{ link.url }}" target="_blank">
                <span>{{ link.title }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div id="header-row">
        <div id="header-logo">@lonelyteapot</div>
        <nav id="header-nav">
            {% for item in site.data.navigation.docs %}
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>
