h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 500;
}

strong {
    font-weight: bold;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yellow {
    color: #756303;
}

.green {
    color: #29C785;
}

.gray {
    color: #666666;
}

.card {
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--shadow-2);
}

section > h2 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
    padding-bottom: 4px;
    width: 100%;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

section > h2::before,
section > h2::after {
    content: '';
    flex: 1;
    height: 1px;
    margin-top: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}
