html {
    --canvas-color: 255, 255, 255;
    --primary-color: 41, 199, 133;
    --header-font: 'Work Sans', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --shadow-1: 0 1px 3px #0003,0 1px 1px #00000024,0 2px 1px -1px #0000001f;
    --shadow-2: 0 1px 5px #0003,0 2px 2px #00000024,0 3px 1px -2px #0000001f;
    --shadow-4: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
    --shadow-6: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    --shadow-8: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    grid-template-rows: max-content auto max-content;
    grid-template-areas: 'header header header' '. main .' '. footer .';
    min-height: 100vh;
    line-height: 1.2;
    font-family: var(--content-font);
    background-color: #f3f3f3;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}
