// Fonts
$header-font: 'Work Sans', sans-serif
$content-font: 'Montserrat', sans-serif

// Colors
$primary-color: #29C785
$color-on-primary: #232729
$secondary-color: #2f4fa0
$canvas-color: #FBFBFB
$color-on-canvas: black
$background-color: #F3F3F3
$color-on-background: black

// Dark Theme Colors
// $primary-color: #1a704e
// $color-on-primary: rgba(255, 255, 255, 0.8)
// $canvas-color: #444
// $color-on-canvas: white
// $background-color: #111
// $color-on-background: white

// Values
$header-height: 40px
$full-header-height: min(50vh, 80vw)

// Material Elevation Shadows
$shadow-1: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f
$shadow-2: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f
$shadow-4: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f
$shadow-6: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f
$shadow-8: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f
