@use "sass:color";
@import "variables.scss";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    padding: 0.5em 0.75em;
    min-width: 6em;
    border-radius: 6px;
    font-family: $header-font;
    font-size: smaller;
    border: none;
    cursor: pointer;
    box-shadow: $shadow-2;
    transition: box-shadow 200ms;
    color: $color-on-primary;
    background-color: color.scale($primary-color, $alpha: -40%);

    &:hover,
    &:focus,
    &:active {
        box-shadow: $shadow-4;
        outline: none;
    }
}
