[astro-icon="vscode-icons:file-type-cpp3"] {
  transform: scale(1.2);
}

[astro-icon="logos:javascript"] {
  transform: scale(0.9);
}

.astroicon\:starlite__cls-1 {
  fill: #ffae57;
}
.astroicon\:starlite__cls-2 {
  fill: #ffd580;
}
.astroicon\:starlite__cls-3 {
  fill: #d6dbe1;
}
.astroicon\:starlite__cls-4 {
  fill: #fff;
}
