@use "sass:color";

.input {
  display: grid;
  position: relative;
  padding: 0;
  border-bottom: 0.125rem solid var(--color-on-canvas);
  overflow: hidden;
  transition: background-color 200ms, border-bottom 200ms;

  &:hover,
  &:focus-within {
    border-color: var(--color-on-canvas);
  }

  textarea {
    resize: none;
  }

  .label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color-on-canvas);
    opacity: 60%;
    transition: top 200ms;
  }

  &:focus-within > .label {
    color: var(--primary-color);
  }

  input,
  textarea {
    border: none;
    padding: 1rem;
    padding-bottom: 0.75rem;
    outline: none;
    background-color: transparent;
    transition: background-color 200ms;
    z-index: 1;

    &:not(:placeholder-shown),
    &:focus,
    &:valid {
      + .label {
        top: 4px;
        font-size: 12px;
      }
    }
  }
}
