html {
  --primary-color: #29c785;
  --secondary-color: #2f4fa0;
  --background-color: #f3f3f3;
  --canvas-color: #fbfbfb;
  --color-on-primary: #232729;
  --color-on-secondary: #ffffff;
  --color-on-background: #000000;
  --color-on-canvas: #000000;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Work Sans", sans-serif;

  --shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
  --shadow-md: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  --shadow-lg: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  --shadow-xl: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  --shadow-2xl: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;

  --header-height: 40px;
  --full-header-height: min(50vh, 80vw);
}
