@use "sass:color";
@import "variables.scss";

.vertical-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.25em;
    padding: 0.5em;
    border-radius: 8px;
    font-size: 0.75rem;
    font-family: $header-font;
    color: $secondary-color;
    transition: background-color 200ms;

    &:hover,
    &:focus {
        background-color: color.scale(black, $alpha: -95%);
    }
}
