---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "../layouts/Layout.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import About from "../sections/About.astro";
import ContactMe from "../sections/ContactMe.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="gap-24">
    <About />
    <Skills />
    <Projects />
    <ContactMe />
  </main>
</Layout>
