---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Skill from "../components/index_page/Skill.astro";
import ProjectsSection from "../components/index_page/ProjectsSection.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section id="about">
      <h1 class="title">Dmitry Semenov</h1>
      <p class="tagline">Software Developer</p>
      <p class="nickname">@lonelyteapot</p>
    </section>
    <section id="skills">
      <h2>My Tech Stack</h2>
      <ul>
        <li class="skill_category">
          <h3>Backend Development</h3>
          <ul class="skills">
            <Skill icon="starlite">Starlite</Skill>
            <Skill icon="simple-icons:fastapi" iconColor="#05998b">FastAPI</Skill>
            <Skill icon="simple-icons:flask" iconColor="white">Flask</Skill>
            <Skill icon="logos:firebase">Firebase</Skill>
            <Skill icon="logos:google-cloud">Google Cloud</Skill>
          </ul>
        </li>
        <li class="skill_category">
          <h3>Frontend Development</h3>
          <ul class="skills">
            <Skill icon="logos:flutter">Flutter</Skill>
            <Skill icon="vscode-icons:file-type-astro">Astro</Skill>
            <Skill icon="logos:vue">Vue</Skill>
            <Skill icon="logos:qt">Qt</Skill>
            <Skill icon="logos:android-icon">Android</Skill>
          </ul>
        </li>
        <li class="skill_category">
          <h3>Programming Languages</h3>
          <ul class="skills">
            <Skill icon="logos:dart">Dart</Skill>
            <Skill icon="logos:python">Python</Skill>
            <Skill icon="logos:javascript">JavaScript</Skill>
            <Skill icon="vscode-icons:file-type-cpp3">C++</Skill>
            <Skill icon="logos:java">Java, Kotlin</Skill>
          </ul>
        </li>
      </ul>
    </section>
    <ProjectsSection />
    <section id="contact-me">
      <h2>Contact me</h2>
      <form action="https://formspree.io/f/myyojnjw" method="POST">
        <label class="input message">
          <textarea name="message" placeholder=" " required></textarea>
          <span class="label">Message</span>
        </label>
        <label class="input email">
          <input type="email" name="email" placeholder=" " required />
          <span class="label">email@to-reply.to</span>
        </label>
        <Button type="submit">Send</Button>
      </form>
    </section>
  </main>
</Layout>

<style is:global lang="scss">
  main {
    gap: 6rem;
  }

  #about {
    height: 50vh;
    text-align: center;
    display: grid;
    grid-template:
      "title title" min-content
      "tagline nickname" min-content
      / auto min-content;
    align-content: center;
    justify-content: center;
  }

  #about .title {
    grid-area: title;
    margin: 0 0 0 -8px;
    font-size: min(11.5vw, 5rem);
    font-family: var(--secondary-font);
    color: var(--primary-color);
  }

  #about .tagline {
    grid-area: tagline;
    text-align: left;
    margin: 0;
    font-size: 1.25rem;
  }

  #about .nickname {
    grid-area: nickname;
    margin: 0 0 0 0;
    font-size: 1.25rem;
  }

  #skills > ul {
    list-style: none;
    margin: 1.5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
  }

  #skills li.skill_category h3 {
    font-size: 1.25rem;
  }

  #skills ul.skills {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #contact-me form {
    flex: 1 1 480px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(200px, auto) auto;
    grid-template-areas: "message message" "email submit";
    gap: 0.75rem;

    .input {
      background-color: var(--color-canvas);
      box-shadow: var(--shadow-md);
      border-radius: 8px;
    }

    .message {
      grid-area: message;
    }

    .email {
      grid-area: email;
    }

    .submit {
      grid-area: submit;
      font-size: 18px;
    }
  }
</style>
