---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "../layouts/Layout.astro";
import SkillsSection from "../components/index_page/SkillsSection.astro";
import ProjectsSection from "../components/index_page/ProjectsSection.astro";
import AboutSection from "../components/index_page/AboutSection.astro";
import ContactMeSection from "../components/index_page/ContactMeSection.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <AboutSection />
    <SkillsSection />
    <ProjectsSection />
    <ContactMeSection />
  </main>
</Layout>

<style>
  main {
    gap: 6rem;
  }
</style>
