---
import NavItem from "./NavItem.astro";
import SocialLink from "./SocialLink.astro";
---

<header>
  <nav>
    <ul class="nav">
      <NavItem title="About" url="/#" />
      <NavItem title="Skills" url="/#skills" />
      <NavItem title="Projects" url="/#projects" />
      <NavItem title="Contact me" url="/#contact-me" />
    </ul>
  </nav>
  <div>
    <ul class="social">
      <SocialLink url="https://t.me/lonelyteapot" icon="ic:baseline-telegram" />
      <SocialLink url="https://github.com/lonelyteapot" icon="mdi:github" />
    </ul>
  </div>
</header>

<style>
  header {
    grid-area: header;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - var(--max-content-width) / 2);
    background: linear-gradient(
      0deg,
      transparent 0%,
      var(--background-color-opaque) 7%,
      var(--background-color) 75%
    );
  }

  @media (max-width: 500px) {
    header {
      /* display: grid; */
      height: 100px;
      flex-direction: column;
      align-items: center;
    }

    header > * {
      flex: 1 1;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .nav {
    display: flex;
    white-space: nowrap;
    height: 100%;
    font-size: 1rem;
    font-family: var(--secondary-font);
  }

  .social {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    align-items: center;
    padding-right: 0.5rem;
  }
</style>
