---
import NavItem from "./NavItem.astro";
import SocialLink from "./SocialLink.astro";
---

<header
  class="shadow-canvas-50 max-hbp:h-[100px] max-hbp:flex-col max-hbp:items-center sticky top-0 z-10 flex h-[60px] justify-between bg-canvas shadow-lg shadow-canvas"
>
  <nav class="max-hbp:flex-1 font-secondary">
    <ul class="nav flex h-full whitespace-nowrap text-base">
      <NavItem title="About" url="/#" />
      <NavItem title="Skills" url="/#skills" />
      <NavItem title="Projects" url="/#projects" />
      <NavItem title="Contact me" url="/#contact-me" />
    </ul>
  </nav>
  <div class="max-hbp:flex-1">
    <ul
      class="flex h-full items-center justify-between justify-self-stretch pr-2"
    >
      <SocialLink url="https://t.me/lonelyteapot" icon="ic:baseline-telegram" />
      <SocialLink url="https://github.com/lonelyteapot" icon="mdi:github" />
    </ul>
  </div>
</header>

<style>
  header {
    grid-area: header;
    padding: 0 calc(50% - var(--max-content-width) / 2);
  }
</style>

<style is:global>
  html {
    --header-height: 100px;
  }

  @media screen(hbp) {
    html {
      --header-height: 60px;
    }
  }
</style>
