---
import { Icon } from "astro-icon/components";

export interface Props {
  url: string;
  icon: string;
}

const { url, icon } = Astro.props;
---

<li>
  <a href={url} target="_blank" class="flex items-center px-2 opacity-80">
    <Icon size={32} name={icon} />
    <span>{url}</span>
  </a>
</li>

<style>
  a {
    transition: opacity 200ms;
  }

  a:hover,
  a:focus {
    opacity: 1;
  }

  span {
    font-size: 0;
  }
</style>
