---
import { Icon } from "astro-icon/components";

export interface Props {
  url: string;
  icon: string;
}

const { url, icon } = Astro.props;
---

<li>
  <a
    href={url}
    target="_blank"
    class="flex items-center px-2 opacity-80 transition-opacity duration-100 hover:opacity-100"
  >
    <Icon size={32} name={icon} />
    <span class="text-[0px]">{url}</span>
  </a>
</li>
