<div class="card">
    <slot />
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        background-color: var(--color-canvas);
        box-shadow: var(--shadow-md);
    }
</style>
