<div class="card flex flex-col gap-4 rounded-lg p-4">
  <slot />
</div>

<style>
  .card {
    background-color: var(--canvas-color);
    /* box-shadow: var(--shadow-md); */
  }

  .card :global(h3, h4, h5, h6) {
    margin: 0;
  }

  .card :global(ul) {
    margin: 0;
    padding: 0;
  }
</style>
