---
import { Icon } from "astro-icon/components";
import { FOOTER_FULLNAME } from "../config";

const today = new Date();
---

<footer
  class="mt-8 flex h-12 items-center justify-between text-sm tracking-wide"
>
  <a href="#" class="flex items-center gap-2 tracking-wider opacity-30">
    <Icon size={32} name="material-symbols:keyboard-double-arrow-up-rounded" />
    <span>Scroll to top</span>
  </a>
  <span class="opacity-30">&copy; {FOOTER_FULLNAME}, {today.getFullYear()}</span
  >
</footer>

<style>
  footer {
    grid-area: footer;
  }

  a {
    transition: 200ms opacity;
  }

  a:hover {
    opacity: 100%;
  }
</style>
