---
export interface Props {
    fullName: string;
}

const { fullName } = Astro.props;
const today = new Date();
---

<footer id="footer">
    <a href="#" class="icon arrow-up">Scroll to top</a>
    <span>&copy; {fullName}, {today.getFullYear()}</span>
</footer>
