---
export interface Props {
    url: string;
    title: string;
}

const { url, title } = Astro.props;
---

<a href={url}>{title}</a>

<style>
    a {
        color: inherit;
        text-decoration: none;
    }
</style>
