---
import { Icon } from "astro-iconify";

export interface Props {
    url: string;
    icon: string;
}

const { url, icon } = Astro.props;
---

<a href={url} target="_blank">
    <Icon size="32" name={icon} />
    <span>{url}</span>
</a>

<style lang="scss">
    a {
        display: flex;
        align-items: center;
        opacity: 0.75;
        transition: opacity 200ms;
        color: inherit;
        text-decoration: none;

        span {
            font-size: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
            outline: none;
        }
    }
</style>
