---
export interface Props {
    link: string;
}

const { link } = Astro.props;
const domain = link.match(/^\w+:[/]{2}([^\s/]+)/)?.[1];
if (!domain) throw Error;
let domainToTitle = {
    "github.com": "GitHub",
    "t.me": "Telegram",
};
let domainToClass = {
    "github.com": "github",
    "t.me": "telegram",
};
// @ts-ignore
const title = domainToTitle[domain];
// @ts-ignore
const cls = domainToClass[domain];
if (!title || !cls) throw Error;
---

<a class:list={["icon", cls]} href={link} target="_blank">
    <span>{title}</span>
</a>

<style lang="scss">
    a {
        display: flex;
        align-items: center;
        opacity: 0.75;
        transition: opacity 200ms;

        span {
            font-size: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
            outline: none;
        }
    }
</style>
