---
import { Icon } from "astro-icon/components";

export interface Props {
  text: string;
  url: string;
  icon: string;
}

const { text, url, icon } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="flex flex-col items-center justify-center gap-0.5 rounded-lg p-2.5 text-center font-secondary text-xs text-primary transition-colors duration-100 hover:bg-white/10"
>
  <Icon size={20} name={icon} />
  <span>{text}</span>
</a>
