#header {
    grid-area: head;
    display: grid;
    grid-template-rows: minmax(56px, min-content);
    grid-template-columns: 1fr minmax(0, calc(768px + 2rem)) 1fr;
    grid-template-areas: '. wrapper .';
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 4px black;
    background-color: var(--color-background);
    font-size: 0.9rem;
}

#header .wrapper {
    grid-area: wrapper;
    display: flex;
    white-space: nowrap;
    font-family: var(--font-interact);
}

#header .menu {
    display: flex;
}

#header .logo {
    width: 64px;
}

#header .logo a {
    display: flex;
    align-items: center;
    padding: 5px 0.75rem;
    transition: transform 0.1s;
}

#header .logo a:hover,
#header .logo a:focus {
    outline: none;
    transform: scale(1.1);
}

#header .logo img {
    height: 40px;
    position: relative;
    top: 1px;
}

#header .nav {
    flex-wrap: wrap;
}

#header .icons {
    margin-left: auto;
}

#header .item {
    display: flex;
    align-items: center;
    padding: 5px 1rem;
    transition: background-color 0.1s;
}

#header .item:hover,
#header .item:focus {
    background-color: #00000011;
    outline: none;
}

#header .item > span::before {
    content: '';
    display: block;
    height: 2px;
    margin: 3px 0;
    background-color: var(--color-text);
    visibility: hidden;
}

#header .item.active > span::before {
    visibility: visible;
}
