
.g-button {
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 0.3em;
    padding: 0.7em 0.8em;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-family: var(--font-interact);
    box-shadow: 1px 1px 2px var(--color-on-primary);
}

.g-button:hover,
.g-button:focus {
    outline: none;
    box-shadow: 1px 1px 8px var(--color-on-primary);
}

.g-button.left-icon::before,
.g-button.right-icon::after {
    content: '';
    align-self: stretch;
    width: 1.25em;
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.g-button.send {
    --icon: url('/icon/send.svg');
}

.g-button.home {
    --icon: url('/icon/home.svg');
}

.g-button.github {
    --icon: url('/icon/github.svg');
}
