section#intro {
    display: grid;
    grid-template:
        'header photo' auto
        'name   photo' auto
        'title  photo' 1fr
        'button photo' auto;
    grid-template-columns: 1fr auto;
    padding-top: min(10vw, 10rem);
    padding-bottom: min(10vw, 10rem);
    clip-path: circle(500vw at 50% calc(100% - 500vw));
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--color-on-secondary);
}

section#intro > * {
    margin: 0;
}

section#intro h2 {
    color: var(--color-on-secondary)
}

section#intro .name {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
}

section#intro .title {
    margin: 0;
    font-size: 1em;
    font-family: var(--font-header);
}

section#intro .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.85rem;
}

section#intro .photo {
    grid-area: photo;
    display: flex;
    justify-content: stretch;
    width: min(24vw, 200px);
    height: min(24vw, 200px);
    box-shadow: inset 0 0 4px black;
    border-radius: 50%;
    user-select: none;
    overflow: hidden;
}

section#intro .photo > img {
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: lightslategray;
    position: relative;
    z-index: -1;
}
