#intro {
    display: grid;
    grid-template:
        'header photo' auto
        'name   photo' auto
        'title  photo' 1fr
        'button photo' auto;
    grid-template-columns: 1fr auto;
    padding-top: min(10vw, 10rem);
    padding-bottom: min(5vw, 5rem);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    background-color: var(--color-background);
    z-index: 0;
}

#intro .name {
    font-size: 2.8em;
}

#intro .title {
    font-family: var(--font-header);
}

#intro .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.85rem;
}

#intro .photo {
    grid-area: photo;
    display: flex;
    justify-content: stretch;
    width: min(24vw, 200px);
    height: min(24vw, 200px);
    box-shadow: inset 0 0 4px black;
    border-radius: 50%;
    user-select: none;
    overflow: hidden;
}

#intro .photo > img {
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: lightslategray;
    position: relative;
    z-index: -1;
}
