main {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    flex: 1;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    background-color: var(--color-background);
}

main > section > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

main > section > h2 {
    margin-left: 0;
}
