main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-background);
}

main > section > h2 {
    align-self: center;
}
