---
id: index
title: Dmitry Semenov
layout: default
permalink: /
---
<main>
    <section id="skills">
        <h2>My Skills & Tech Stack</h2>
        <ul>
            {% for category in site.data.skills %}
            <li class="card">
                <h3>{{ category.category }}</h3>
                <ul>
                    {% for skill in category.skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section id="software">
        <h2>My Software</h2>
        <ul>
            {% for project in site.data.projects %}
            <li class="project card{% unless project.images %} narrow{% endunless %}">
                <div class="content">
                    <header>
                        <h3>{{ project.name }}</h3>
                        <div class="stage yellow">{{ project.stage }}</div>
                    </header>
                    {% if project.description %}
                    <p class="description">{{ project.description }}</p>
                    {% endif %}
                    <ul class="keypoints">
                        {% for keypoint in project.keypoints %}
                        <li>{{ keypoint }}</li>
                        {% endfor %}
                    </ul>
                    {% if project.links %}
                    <div class="links">
                        {% for link in project.links %}
                        <a class="vertical-link icon {{ link.type }}" href="{{ link.href }}" target="_blank">
                            <span>{{ link.text }}</span>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% if project.images %}
                <div class="images">
                    {% for image in project.images %}
                    <div class="wrapper">
                        <img src="/images/{{ image }}" alt="screenshot">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    <section id="contact-me">
        <h2>Contact me</h2>
        <form action="https://formspree.io/f/myyojnjw" method="POST">
            <label class="input message card">
                <textarea name="message" placeholder=" " required></textarea>
                <span class="label">Message</span>
            </label>
            <label class="input email card">
                <input type="email" name="email" placeholder=" " required>
                <span class="label">email@to-reply.to</span>
            </label>
            <button class="submit button icon send" type="submit">Send</button>
        </form>
    </section>
</main>
