<section id="about" class="text-center grid place-content-center">
  <h1 class="title m-0 -ml-2">Dmitry Semenov</h1>
  <p class="tagline text-xl text-left">Software Developer</p>
  <p class="nickname text-xl">@lonelyteapot</p>
</section>

<style>
  section {
    height: 50vh;
    grid-template:
      "title title" min-content
      "tagline nickname" min-content
      / auto min-content;
  }

  .title {
    grid-area: title;
    font-size: min(11.125vw, 5rem);
    font-family: var(--secondary-font);
    color: var(--primary-color);
  }

  @media (max-width: 500px) {
    .title {
      font-size: 5rem;
    }
  }

  .tagline {
    grid-area: tagline;
  }

  .nickname {
    grid-area: nickname;
  }
</style>
