<section
  id="about"
  class="grid h-[50vh] grid-cols-[auto_min-content] place-content-center text-center"
>
  <h1
    class="title text-primary font-secondary col-span-2 row-start-1 m-0 -ml-2 text-[5rem]"
  >
    Dmitry Semenov
  </h1>
  <p class="tagline row-start-2 text-left text-xl">Software Developer</p>
  <p class="nickname row-start-2 text-xl">@lonelyteapot</p>
</section>

<style>
  @media (min-width: 500px) {
    .title {
      font-size: min(11.125vw, 5rem);
    }
  }
</style>
