<section
  id="about"
  class="flex h-[50vh] flex-col place-content-center text-center"
>
  <h1
    class="title col-span-2 row-start-1 m-0 -ml-2 font-secondary text-[5rem] text-primary"
  >
    lonelyteapot
  </h1>
  <p class="tagline text-center text-xl">I build full stack web applications</p>
</section>

<style>
  @media (min-width: 500px) {
    .title {
      font-size: min(11.125vw, 5rem);
    }
  }
</style>
