---
import Button from "../components/Button.astro";
---

<section id="contact-me">
  <h2>Contact me</h2>
  <form action="https://formspree.io/f/myyojnjw" method="POST">
    <label class="input message">
      <textarea name="message" placeholder=" " required></textarea>
      <span class="label">Message</span>
    </label>
    <label class="input email">
      <input type="email" name="email" placeholder=" " required />
      <span class="label">email@to-reply.to</span>
    </label>
    <Button type="submit">Send</Button>
  </form>
</section>

<style>
  form {
    flex: 1 1 480px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(200px, auto) auto;
    grid-template-areas: "message message" "email submit";
    gap: 0.75rem;
  }

  .input {
    background-color: var(--color-canvas);
    box-shadow: var(--shadow-md);
    border-radius: 8px;
  }

  input,
  textarea {
    color: var(--color-on-canvas);
  }

  .message {
    grid-area: message;
  }

  .email {
    grid-area: email;
  }

  .submit {
    grid-area: submit;
    font-size: 18px;
  }
</style>
