---
import { Image } from "astro:assets";
import ProjectIconLink from "./ProjectIconLink.astro";
import howlongBrightImage from "../images/howlong_bright.webp";
import howlongDarkImage from "../images/howlong_dark.webp";
import steamynotesImage from "../images/steamynotes.webp";
---

<section id="projects">
  <h2>Projects I made</h2>
  <ul class="grid grid-flow-row gap-x-12 md:grid-cols-2">
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">Open Transit</h3>
      <div class="hidden">In development</div>
      <p class="description my-4">
        Global provider of public transportation data.
      </p>
      <ul class="keypoints list-disc pl-10">
        <li>Growing database of public transportation data</li>
        <li>Real-time updates (vehicle locations, arrival predictions)</li>
        <li>Easy-to-use cross-platform app for passengers</li>
        <li>Free GraphQL API for developers</li>
        <li>Data sourced from trusted organizations and the communty</li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/open-transit"
          icon="mdi:github"
        />
      </div>
      <div
        class="images row-start-1 row-end-4 flex h-full items-center justify-center text-center"
      >
        Coming soon...
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">HowLong</h3>
      <div class="hidden">Deployed / Alpha</div>
      <p class="description my-4">
        A minimal mobile app that counts days between dates.
      </p>
      <ul class="keypoints list-disc pl-10">
        <li>Clean & Intuitive</li>
        <li>Built with <strong>Android SDK</strong></li>
        <li>Written in <strong>Kotlin</strong></li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/HowLong"
          icon="mdi:github"
        />
        <ProjectIconLink
          text="Android APK"
          url="https://github.com/lonelyteapot/HowLong/releases/latest"
          icon="material-symbols:download"
        />
      </div>
      <div class="images grid grid-flow-col gap-4">
        <Image
          src={howlongBrightImage}
          alt="project screenshot"
          width="350"
          class="h-auto w-full rounded-xl shadow-inner"
        />
        <Image
          src={howlongDarkImage}
          alt="project screenshot"
          width="350"
          class="h-auto w-full rounded-xl shadow-inner"
        />
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">SteamyNotes</h3>
      <div class="hidden">Deployed / Alpha</div>
      <p class="description my-4">
        A cloud-based note-keeping web app. Built for learning Flutter.
      </p>
      <ul class="keypoints list-disc pl-10">
        <li>Stores notes in the cloud, tied to a Google account</li>
        <li>Built cross-platform with <strong>Flutter</strong></li>
        <li>Powered by and hosted on <strong>Firebase</strong></li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/SteamyNotes"
          icon="mdi:github"
        />
        <ProjectIconLink
          text="Web App"
          url="https://steamy-notes.web.app"
          icon="material-symbols:open-in-new"
        />
      </div>
      <div class="images grid grid-flow-col gap-4">
        <Image
          src={steamynotesImage}
          alt="project screenshot"
          width="700"
          class="h-auto w-full rounded-xl shadow-inner"
        />
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12">
      <h3 class="my-3 text-3xl">Just Dance</h3>
      <div class="hidden">Not for production</div>
      <p class="description my-4">
        A computer vision game that imitates Just Dance and Osu. A small project
        built during the <strong>Intel CV Summer Camp 2021</strong>
         to learn the <strong>OpenVINO</strong> toolkit.
      </p>
      <ul class="keypoints list-disc pl-10">
        <li>
          Detects body parts on a real-time video feed using neural networks
          from <strong>OpenModelZoo</strong> & <strong>MediaPipe</strong>
        </li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/Gravens/JustDance"
          icon="mdi:github"
        />
      </div>
    </li>
    <li class="my-12 grid w-full grid-flow-row auto-rows-min gap-x-12 gap-y-4">
      <h3 class="row-start-1 my-3 text-3xl">This Website</h3>
      <div class="hidden">Deployed</div>
      <p class="col-span-2">About me and my projects.</p>
      <p class="col-span-2">Built with Astro, hosted on GitHub.</p>
      <div class="row-start-1 flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/lonelyteapot.github.io"
          icon="mdi:github"
        />
      </div>
    </li>
  </ul>
</section>

<style>
  .project {
    grid-template:
      "header links " auto
      " descr descr " auto
      "points points" auto
      "images images" 1fr
      / 1fr auto;
  }

  .project:has(.images) {
    grid-template:
      "header links  images" auto
      " descr descr  images" auto
      "points points images" 1fr
      / 1fr auto calc(50% - 1.5rem);
  }

  @media (max-width: 768px) {
    .project:nth-child(1n) {
      grid-template:
        "header links " auto
        " descr descr " auto
        "points points" auto
        "images images" 1fr
        / 1fr auto;
    }

    .images {
      margin: 1.5rem 1rem 0;
    }
  }

  .project h3 {
    grid-area: header;
  }

  .project p {
    grid-area: descr;
  }

  .project .keypoints {
    grid-area: points;

    li {
      @apply my-2;
    }
  }

  .project .links {
    grid-area: links;
  }

  .project .images {
    grid-area: images;
    grid-auto-columns: 1fr;
  }
</style>
