---
import { Image } from "astro:assets";
import ProjectIconLink from "../components/ProjectIconLink.astro";
import howlongBrightImage from "../images/howlong_bright.webp";
import howlongDarkImage from "../images/howlong_dark.webp";
import steamynotesImage from "../images/steamynotes.webp";
---

<section id="projects">
  <h2>Projects I made</h2>
  <ul class="grid grid-flow-row gap-x-12 md:grid-cols-2">
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">Open Transit</h3>
      <p class="description my-2">Aggregator of public transportation data.</p>
      <ul class="keypoints list-disc pl-6">
        <li>Growing database of data on public transit</li>
        <li>Real-time updates (vehicle locations, arrival predictions)</li>
        <li>Easy-to-use cross-platform app for passengers</li>
        <li>Free GraphQL API for developers</li>
        <li>Data sourced from trusted organizations and the communty</li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/open-transit"
          icon="mdi:github"
        />
      </div>
      <div
        class="images row-start-1 row-end-4 flex h-full items-center justify-center text-center"
      >
        Coming soon...
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">HowLong</h3>
      <p class="description my-2">A simple app for calculating dates.</p>
      <ul class="keypoints list-disc pl-6">
        <li>Pet project built for learning Android development</li>
        <li>Built with Android SDK in Kotlin</li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/HowLong"
          icon="mdi:github"
        />
        <ProjectIconLink
          text="Android APK"
          url="https://github.com/lonelyteapot/HowLong/releases/latest"
          icon="material-symbols:download"
        />
      </div>
      <div class="images grid grid-flow-col gap-4">
        <Image
          src={howlongBrightImage}
          alt="project screenshot"
          width="350"
          class="h-auto w-full rounded-xl shadow-inner"
        />
        <Image
          src={howlongDarkImage}
          alt="project screenshot"
          width="350"
          class="h-auto w-full rounded-xl shadow-inner"
        />
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12 md:col-span-2">
      <h3 class="my-3 text-3xl">SteamyNotes</h3>
      <p class="description my-2">A cloud-based note taking app for Web.</p>
      <ul class="keypoints list-disc pl-6">
        <li>Pet project built for learning Flutter</li>
        <li>Stores notes in the cloud, tied to Google accounts</li>
        <li>Powered by Firebase</li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/SteamyNotes"
          icon="mdi:github"
        />
        <ProjectIconLink
          text="Web App"
          url="https://steamy-notes.web.app"
          icon="material-symbols:open-in-new"
        />
      </div>
      <div class="images grid grid-flow-col gap-4">
        <Image
          src={steamynotesImage}
          alt="project screenshot"
          width="700"
          class="h-auto w-full rounded-xl shadow-inner"
        />
      </div>
    </li>
    <li class="project my-12 grid w-full gap-x-12">
      <h3 class="my-3 text-3xl">Just Dance</h3>
      <p class="description my-2">
        A computer vision game like Just Dance and Osu.
      </p>
      <ul class="keypoints list-disc pl-6">
        <li>
          A small group project built during the Intel Computer Vision Summer
          Camp 2021 to learn the OpenVINO AI toolkit
        </li>
        <li>
          Uses neural networks from OpenModelZoo and MediaPipe to detect body
          movements
        </li>
      </ul>
      <div class="links flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/Gravens/JustDance"
          icon="mdi:github"
        />
      </div>
    </li>
    <li class="my-12 grid w-full grid-flow-row auto-rows-min gap-x-12 gap-y-4">
      <h3 class="row-start-1 my-3 text-3xl">Personal website</h3>
      <p class="col-span-2 -mt-2">The one you're on right now.</p>
      <ul class="keypoints list-disc pl-6">
        <li>Built with Astro and Tailwind</li>
        <li><s>Awful</s> Custom design!</li>
      </ul>
      <div class="row-start-1 flex flex-row-reverse justify-self-end">
        <ProjectIconLink
          text="GitHub"
          url="https://github.com/lonelyteapot/lonelyteapot.github.io"
          icon="mdi:github"
        />
      </div>
    </li>
  </ul>
</section>

<style>
  .project {
    grid-template:
      "header links " auto
      " descr descr " auto
      "points points" auto
      "images images" 1fr
      / 1fr auto;
  }

  .project:has(.images) {
    grid-template:
      "header links  images" auto
      " descr descr  images" auto
      "points points images" 1fr
      / 1fr auto calc(50% - 1.5rem);
  }

  @media (max-width: 768px) {
    .project:nth-child(1n) {
      grid-template:
        "header links " auto
        " descr descr " auto
        "points points" auto
        "images images" 1fr
        / 1fr auto;
    }

    .images {
      margin: 1.5rem 1rem 0;
    }
  }

  .project h3 {
    grid-area: header;
  }

  .project p {
    grid-area: descr;
  }

  .project .keypoints {
    grid-area: points;
  }

  .project .links {
    grid-area: links;
  }

  .project .images {
    grid-area: images;
    grid-auto-columns: 1fr;
  }
</style>
