---
import Skill from "./Skill.astro";
---

<section id="skills">
  <h2>Skills</h2>
  <ul class="flex flex-wrap justify-around gap-6">
    <li class="bg-card flex-1 rounded-2xl px-12 pb-8">
      <h3 class="my-6 text-center text-2xl">Backend</h3>
      <ul class="flex flex-col gap-3">
        <Skill icon="litestar-logo">Litestar</Skill>
        <Skill icon="logos:fastapi-icon">FastAPI</Skill>
        <Skill icon="bxl:flask">Flask</Skill>
        <Skill icon="logos:firebase">Firebase</Skill>
        <Skill icon="logos:docker-icon">Docker</Skill>
      </ul>
    </li>
    <li class="bg-card flex-1 rounded-2xl px-12 pb-8">
      <h3 class="my-6 text-center text-2xl">Frontend</h3>
      <ul class="flex flex-col gap-3">
        <Skill icon="logos:vue">Vue</Skill>
        <Skill icon="logos:flutter">Flutter</Skill>
        <Skill icon="astro-icon-light">Astro</Skill>
        <Skill icon="logos:qt">Qt</Skill>
        <Skill icon="devicon:androidstudio">Android</Skill>
      </ul>
    </li>
    <li class="bg-card flex-1 rounded-2xl px-12 pb-8">
      <h3 class="my-6 text-center text-2xl">Languages</h3>
      <ul class="flex flex-col gap-3">
        <Skill icon="logos:python">Python</Skill>
        <Skill icon="skill-icons:typescript">TypeScript</Skill>
        <Skill icon="logos:dart">Dart</Skill>
        <Skill icon="logos:c-plusplus">C++</Skill>
        <Skill icon="logos:java">Kotlin, Java</Skill>
      </ul>
    </li>
  </ul>
</section>
