---
import Skill from "./Skill.astro";
---

<section id="skills">
  <h2>Technologies I use</h2>
  <ul class="flex flex-wrap justify-around gap-12 mt-14">
    <li>
      <h3 class="text-xl">Backend Development</h3>
      <ul class="flex flex-col m-8 gap-3">
        <Skill icon="litestar-logo">Litestar</Skill>
        <Skill icon="logos:fastapi-icon">FastAPI</Skill>
        <Skill icon="bxl:flask">Flask</Skill>
        <Skill icon="logos:firebase">Firebase</Skill>
        <Skill icon="logos:google-cloud">Google Cloud</Skill>
      </ul>
    </li>
    <li>
      <h3 class="text-xl">Frontend Development</h3>
      <ul class="flex flex-col m-8 gap-3">
        <Skill icon="logos:vue">Vue</Skill>
        <Skill icon="logos:flutter">Flutter</Skill>
        <Skill icon="astro-icon-light">Astro</Skill>
        <Skill icon="logos:qt">Qt</Skill>
        <Skill icon="devicon:androidstudio">Android</Skill>
      </ul>
    </li>
    <li>
      <h3 class="text-xl">Programming Languages</h3>
      <ul class="flex flex-col m-8 gap-3">
        <Skill icon="logos:python">Python</Skill>
        <Skill icon="skill-icons:typescript">TypeScript</Skill>
        <Skill icon="logos:dart">Dart</Skill>
        <Skill icon="logos:c-plusplus">C++</Skill>
        <Skill icon="logos:java">Java, Kotlin</Skill>
      </ul>
    </li>
  </ul>
</section>
