---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
}

const { icon } = Astro.props;
---

<li class="flex items-center justify-start gap-4">
  <Icon name={icon} size={32} />
  <span class="whitespace-nowrap text-center"><slot /></span>
</li>
