.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    padding: 0.5em 0.75em;
    min-width: 6em;
    border-radius: 6px;
    font-family: var(--header-font);
    font-size: smaller;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow-2);
    transition: box-shadow 200ms;
    color: var(--primary-text-color-light);
    background-color: var(--primary-color-light);
}

.button:hover,
.button:focus,
.button:active {
    box-shadow: var(--shadow-6);
    outline: none;
}
