.input {
    display: grid;
    position: relative;
    padding: 0;
    border-bottom: 0.125rem solid transparentize($color-on-canvas, 0.5);
    overflow: hidden;
    transition: background-color 200ms, border-bottom 200ms;

    &:hover {
        background-color: mix($canvas-color, $primary-color, 90%);
    }

    &:hover, &:focus-within {
        border-color: transparentize($color-on-canvas, 0.15);
    }

    textarea {
        resize: none;
    }

    input, textarea {
        border: none;
        padding: 1rem;
        padding-bottom: 0.75rem;
        outline: none;
        background-color: transparent;
        transition: background-color 200ms;
        z-index: 1;

        &:not(:placeholder-shown),
        &:focus,
        &:valid {
            + .label {
                top: 4px;
                font-size: 12px;
            }
        }
    }

    .label {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: transparentize(black, 0.4);
        transition: top 200ms;
    }

    &:focus-within > .label {
        color: $primary-color;
    }
}
