---
import { SEO } from "astro-seo";
import Analytics from "../components/Analytics.astro";
// import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/work-sans";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/600.css";
import "../styles/input.scss";
import "../styles/index.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const IS_PRODUCTION = import.meta.env.PROD;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#" class="bg-canvas">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: `${Astro.url.origin}/images/scheenshot.png`,
        },
        optional: {
          description: description,
          locale: "en_US",
        },
      }}
    />
    {IS_PRODUCTION && <Analytics />}
  </head>
  <body
    class="grid min-h-screen gap-x-[5vw] bg-canvas font-primary text-neutral-50"
  >
    <slot />
    <Footer />
  </body>
</html>
